/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpstan.neon export-ignore
/rector.php export-ignore
/UnitTests.xml export-ignore
/FunctionalTests.xml export-ignore
/Tests/ export-ignore
